<main>
<h2>List of Works</h2>
<section class="media-table">
  <% if @works.length > 0%>
    <h4>Books</h4>
    <table class="table table-hover">
      <thead class="thead-table">
        <tr>
          <th>votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
      <% Work.all_work("book").each do |book| %>
        <tr>
          <td><%= book.votes.count%></td>
          <td><%= link_to book.title, work_path(book.id)  %></td>
          <td><%= book.creator %></td>
          <td><%= book.creator %></td>
          <td> <%= link_to "Upvote", work_votes_path(book.id), method: :post %></td>
        </tr>
      </tbody>
      <%end %>
  </table>
  <%else%>
    <h3> No works! </h3>
  <%end%>
</section>

<section class="media-table">
  <% if @works.length > 0%>
    <h4>Movies</h4>
    <table class="table table-hover">
      <thead class="thead-table">
        <tr>
          <th>votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
      <% Work.all_work("movie").each do |movie| %>
        <tr>
          <td><%= movie.votes.count%></td>
          <td><%= link_to movie.title, work_path(movie.id)  %></td>
          <td><%= movie.creator %></td>
          <td><%= movie.creator %></td>
          <td> <%= link_to "Upvote", work_votes_path(movie.id), method: :post%></td>
        </tr>
      </tbody>
      <%end %>
  </table>
  <%else%>
    <h3> No works! </h3>
  <%end%>
</section>

<section class="media-table">
  <% if @works.length > 0%>
    <h4>Albums</h4>
    <table class="table table-hover">
      <thead class="thead-table">
        <tr>
          <th>votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
      <% Work.all_work("album").each do |album| %>
        <tr>
          <td><%= album.votes.count %></td>
          <td><%= link_to album.title, work_path(album.id)  %></td>
          <td><%= album.creator %></td>
          <td><%= album.creator %></td>
          <td> <%= link_to "Upvote", work_votes_path(album.id), method: :post%></td>
        </tr>
      </tbody>
      <%end %>
  </table>
  <%else%>
    <h3> No works! </h3>
  <%end%>
</section>
</main>