<main>
  <section>
    <h2><%= @work.title %></h2>
    <p>Created by: <%= @work.creator%></p>
    <p>Published: <%= @work.publication_year%></p>
    <section>
      <%= link_to "Back to media ranks", works_path, class: "btn btn-primary"%>
      <%= link_to "Edit", edit_work_path(@work), class: "btn btn-primary"%>
      <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
      <%= link_to "Upvote", work_votes_path(@work.id), method: :post,  class: "btn btn-primary"%>
    </section>
  </section>

  <section class="works-votes__container">
  <h3 class="works-votes__header"><%=Vote.where(work_id: @work.id).count%> Votes for this <%= @work.category%> </h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% Vote.where(work_id: @work.id).each do |vote| %>
      <% user = User.find_by(id: vote.user_id)%>
      <tr>
        <td><%= link_to vote.user.username, user_path(vote.user.id)%></td>
        <td><%= vote.created_at.strftime("%b %d, %Y")%></td>
      <tr>
     <% end %>
    </tbody>
  </table>
</main>


