<main>
<section class="spotlight">
  <h2 class="spotlight__header">
    <% if Work.spotlight.nil? %>
      <p><%= "There is not spotlight -> Go to all media and vote for your favorites!"%></p>
    <% else %>
      <span class="spotlight__header--prefix">Media Spotlight:</span>
      <%=link_to Work.spotlight.title, work_path(Work.spotlight.id) %>
    </h2>
      <p class="spotlight__description"><%= Work.spotlight.votes.count %> votes -</p>
      <p class="spotlight__description"><%= Work.spotlight.description %></p>
    <%end%>
</section>

<hr class="root__hr" />
<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
    <ul class="list-group top-ten__list">
      <% Work.top_ten("movie").each do |movie| %> 
        <li><h4><%=link_to movie.title, work_path(movie.id) %></h4></li>
        <li class="top-ten__creator"><%=movie.creator%></li>
        <p><%=movie.votes.count%> votes</p>
      <% end %>
    </ul>
  </section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
    <ul class="list-group top-ten__list">
      <% Work.top_ten("book").each do |book| %> 
        <li><h4><%= link_to book.title, work_path(book.id)%></h4></li>
        <li class="top-ten__creator"><%=book.creator%></li>
        <p><%=book.votes.count%> votes</p>
      <% end %>
    </ul>
  </section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Album
  </h2>
    <ul class="list-group top-ten__list">
      <% Work.top_ten("album").each do |album| %> 
        <li><h4><%=link_to album.title, work_path(album.id) %></h4></li>
        <li class="top-ten__creator"><%=album.creator%></li>
        <p><%=album.votes.count%> votes</p>
      <% end %>
  </ul>
  </section>
</section>
</main>